.dropbtn {
  background-color: #bdbdbd;
  color: #8e7788;
  height: 60px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 700px;
  margin: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  background-color: #f1f1f1;
  text-align: center;
}

.dropdown-content{
  color: black;
  
}

#tareas{
  margin: 0;
}

#tareas:hover {
  background-color: rgb(171, 168, 168);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #cabfe7;
}

.show {
  display: block;
}

body {
  padding-top: 1em;
  background-color: #8e7788;
  font-family: "Vollkorn", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}



@media (min-width: 800px){
  .usuarios{
      display: flex;
      max-width: 2000px;
      margin-left: auto;
      margin-right: auto;
  }

  .usuario + .usuario{
      margin-left: 2em;
  }

  .titol-usuarios{
     margin-top: 5em; 
  }
}

.porhacer{
  font-size: 1.25em;
  font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 80px;
    font-style: normal;
}

.porhacer:hover{
  text-decoration:line-through;
}

#score{
  text-align: left;
}

.canjear{
  margin-top: 20%;
  background-color: #bdbdbd;
 font-family:  "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 555;
  font-style: normal;
  text-align: center;
  color: #8e7788; 
  border: none;
  border-radius: 0.5em;
  width: 300px;
  height: 50px;
}

.canjear:hover{
  background-color:  #cabfe7;
}
.tareasposibles{
margin: 0;
  padding-top: 0.15em;
  padding-bottom: 0.15em;
}

.tareasposibles:hover{  
  background-color:rgb(171, 168, 168);
  
}